 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
		<div class="col-lg-12 text-center">
<!--                     <a class="btn btn-lg btn-outline"> -->
                        <p>
                        We are a Development Agency. Geeks. Hackers. People that get things done. 
                        </p>
                        <p>
                        We Build IoT, Hardware, Software, Innovation and Tech.
		        </p>
		        <p>
		         Based In Mozambique.
			</p>
                    </a>
                </div>

                <div class="col-lg-4 col-lg-offset-2">
		  <h3> <span class="fa fa-cog fa-spin "></span> Our Aim</h3>
                    <p>We are building solutions that can impact the next generation everywhere. 
                        We support and provide guides to promote development of solutions that are affordable and meet user needs.                         We strive to make our tech suitable for all, Open Source and Modular.</p>
                </div>
                <div class="col-lg-4">
		  <h3> <span class="fa fa-glass"></span> Our Values</h3>
                    <p>We value Innovation, Open Source and Creativity. </p>
                    <p> Let's build Stuff in Mozambique, for our Lovely Mozambicans! [and visitors of course, you get the gist ;)]
                </div>
            </div>
        </div>
    </section>