<!-- Pricing Section -->
<section id="pricing">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Our Most Competitive Prices</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row db-padding-btm db-attached">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-one">
                        <div class="price">
                            <sup><small>MZN</small></sup>500<sup>*</sup>
                                <small>Starting Price p/m</small>
                        </div>
                        <div class="type">
                            SME 
                        </div>
                        <ul>

			    <li><i class="fa fa-th-list"></i>Planning</li>
			    <li><i class="fa fa-cloud"></i>Inhouse Hosting </li>
                            <li><i class="fa fa-envelope-o"></i>Domain Email Account Setup</li>
			    <li><i class="fa fa-medkit"></i>Content Support</li>
                            <li><i class="fa fa-code"></i>Custom CMS or Back-end</li>
                        </ul>
                        <div class="pricing-footer" >

                            <a href="#contact" onclick="makemsg('SME Option-1 Development option')" class="btn db-button-color-square btn-lg">Tell me more!</a>
                        </div>
                        <div class="subtype">
                            <small>Startup Website (Web Presence)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-two popular">
                    <div class="price">
                        <sup><small>MZN</small></sup>999
                                <small>per month</small>
                    </div>
                    <div class="type">
                        Business
                    </div>
                    <ul>
                    
                        <li><i class="fa fa-th-list"></i>Planning</li>
			<li><i class="fa fa-cloud"></i>Hosting Setup</li>
			<li><i class="fa fa-database"></i>Database Access </li>
			<li><i class="fa fa-envelope-o"></i>Domain Email Account Setup</li>
			<li><i class="fa fa-medkit"></i>Content Support</li>
			<li><i class="fa fa-code"></i>Platform/CMS Selection</li>
                    </ul>
                    <div class="pricing-footer" >

                            <a href="#contact" onclick="makemsg('SME/Business Option-2 Development')" class="btn db-button-color-square btn-lg">Tell me more!</a>
                        </div>
                        <div class="subtype">
                            <small>Business Website (Web Presence)</small>
                        </div>
                </div>
                      </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-three">
                    <div class="price">
                        <sup><small>from MZN</small></sup> 4,000
                                <small>per month</small>
                    </div>
                    <div class="type">
                        Professional
                    </div>
                    <ul>

                        <li><i class="fa fa-th-list"></i>Planning</li>
			<li><i class="fa fa-pencil-square-o"></i>UX (sitemap, wireframes) </li>
			<li><i class="fa fa-magic"></i>Visual Design</li>
			<li><i class="fa fa-code"></i>Programming</li>
			<li><i class="fa fa-medkit"></i>Content Support</li>
			<li><i class="fa fa-book"></i>Client Training / Documentation</li>
			<li><i class="fa fa-gears"></i>Testing and Launch</li>
                    </ul>
                    <div class="pricing-footer" >

			<a href="#contact" onclick="makemsg('Professional Website Development option')" class="btn db-button-color-square btn-lg">Tell me more!</a>
		    </div>
		    <div class="subtype">
			<small>Professional Website</small>
		    </div>
                </div>
                      </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-six">
                    <div class="price">
                        <sup><small>MZN</small></sup> TBA
                                <small>per project</small>
                    </div>
                    <div class="type">
                        Mobile Apps & Software Dev
                    </div>
                    <ul>

                        <li><i class="fa fa-th-list"></i>Planning</li>
			<li><i class="fa fa-pencil-square-o"></i>UX (mockups, wireframes) </li>
			<li><i class="fa fa-magic"></i>Visual Design</li>
			<li><i class="fa fa-code"></i>Programming</li>
			<li><i class="fa fa-medkit"></i>Content Support</li>
			<li><i class="fa fa-upload"></i>App Store Deployment</li>
			<li><i class="fa fa-book"></i>Client Training / Documentation</li>
			<li><i class="fa fa-gears"></i>Testing and Launch</li>
                    </ul>
                    <div class="pricing-footer" >

			<a href="#contact" onclick="makemsg('Custom Software Development option')" class="btn db-button-color-square btn-lg">Tell me more!</a>
		    </div>
		    <div class="subtype">
			<small>Custom Development</small>
		    </div>
                </div>
                      </div>
            </div>
        </div>
        
	  <p><small>* This option is only available to eligible businesses. Based on business information, we can confirm whether you(r) business falls under this special limited time offer.</small></p>
        </div>

    </div>
	</div>
</section>
